<kendo-grid 
[pageable]="true" 
[pageSize]="pageSize"
[kendoGridBinding]="tableData">
    <ng-container *ngFor="let column of columns">
        <kendo-grid-column [headerStyle]="{ 'background-color': '#f0f0f0' }" [field]="column.field" [title]="column.title"></kendo-grid-column>
    </ng-container>
    <!-- Skeleton loader when there's no data -->
    <ng-container *ngIf="isLoading">
        <ng-template kendoGridNoRecordsTemplate>
          <div class="table-loader k-d-flex k-gap-2" *ngFor="let index of columns">
            <div class="k-basis-1/2" *ngFor="let index of columns">
              <kendo-skeleton
                shape="text"
                animation="wave"
                [height]="40"
                [width]="'100%'"
              ></kendo-skeleton>
            </div>
          </div>
        </ng-template>
    </ng-container>
</kendo-grid>
