// custom theme
$primary-palette-name: teal;
$secondary-palette-name: yellow;

// color
$kendo-color-light: #f5f5f5;

// button 
$kendo-button-shadow: none;
$kendo-button-border-radius: 0;

// card
$kendo-card-border-radius: 0;
$kendo-card-shadow: none;
$kendo-card-border-width: 1px;